
<label for="url">URL:</label><span id="url"><%= @page[:url] %></span>
<dl>
<dt>Word counts:</dt>
<% @page.words().each do |wc| %>
      <dd>
          <span class="word"><%= wc.word  %></span>
          <span class="count"><%= wc.count %></span>
      </dd>
<%
    end
    if @page.words().empty?
%>
      <dd><span class="nowords">No words!</span></dd>
<% end %>
</dl>