<div id="index_main">
<% unless @pages.nil? || @pages.empty? %>
<table border="1">
    <caption>Word Counter Stats</caption>
    <thead>
        <tr>
            <th>webpage</th>
            <th>most common word</th>
            <th>occurrences</th>
        </tr>
    </thead>
    <tbody>
<% @pages.each do |pg|
    if pg.valid?
%>
        <tr>
            <td><%= link_to pg.url, pg.url, :remote=>true, :popup => true %></td>
            <td><%= pg.most_common_word.word %></td>
            <td><%= pg.most_common_word.count %></td>
        </tr>
<% end
   end
%>
    </tbody>
</table>
<% end %>

</div>