<div id="index_main">
<% unless @pages.nil? || @pages.empty? %>
<table border="1">
    <caption>Word Counter Stats</caption>
    <thead>
        <tr>
            <th>webpage</th>
            <th>most common word</th>
            <th>occurrences</th>
        </tr>
    </thead>
    <tbody>
<%
    cnt = 0
    @pages.each do |pg|
        if pg.valid?

%>

        <tr>
            <td><%= link_to pg.url, pg.url, :popup =>['win%(cnt)', 'height=600, width=600'] %></td>
            <td><%= pg.most_common_word.word %></td>
            <td><%= pg.most_common_word.count %></td>
        </tr>

<%      cnt = cnt + 1
        end
    end
%>
    </tbody>
</table>
<% end %>

</div>