<h3>New Webpage Word Count</h3>
<p class="fl cb">
    Enter a URL for a webpage from which to count words. The 10 most frequent words will be cataloged and displayed.
</p>

<div class="fl cb">
    <%= render 'form' %>
</div>