<h1>New Webpage Word Count</h1>
<p>
    Enter a URL for a webpage from which to count words. The 10 most frequent words will be cataloged and displayed.
</p>

<%= render 'form' %>

<%= link_to :Back, '/page/index' %>