// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* layout */
body{
  margin: 0 2.5%;
  padding: 1.5em 5%;
  background-color: #888888;
}
div#main{
  float: left;
  clear: both;
  background-color: #ffffff;
  width: 95%;
  height: 100%;
}
div#title{
  float: left;
  clear: both;
  text-align: center;
  width: 85%;
  padding: .4em 0;
  border: 1px solid #dedede;
}
span.hearts{
  color: red;
  text-decoration: blink;
  margin: 0 5%;
}
div#nav{
  float: left;
  clear: left;
  margin-top: .75em;
  margin-left: 2.5em;
}
div#nav a.btn-info{
  padding: 0.25em 0.75em;
}

/* index */
div#index_main{

  width: 85%;
  padding: 3% 0;
}

table tr th,td{
  padding: 0 1em;
}
table tr th{
  color:rgba(255,255,255,1);
  background-color:#64aeca;
}

table caption{
  padding:0.25em 0;
  font-weight: bold;
}