<!DOCTYPE html>
<html>
<head>
  <title>Webpage Word Counter</title>
  <%= stylesheet_link_tag "page", :media => "all" %>
  <%= javascript_include_tag "page" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
